@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

.container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.secondary {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: underline;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 0;
    cursor: pointer;
}