@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.container {
    border: rgba(0, 0, 0, 0.2) 1px solid;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 1.7rem;

    text-transform: uppercase;
}