@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.error {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;

    color: rgba(50, 50, 50, 1);
}

.box {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: .5rem;
    border: black 1px solid;

    font-family: 'Courier New', serif;
}
