@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.container {
    margin-bottom: 2rem;
}

.header {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.description {
    margin-top: 1rem;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;

    color: rgba(100, 100, 100, 1);
}